<div class="auth-container mat-elevation-z4">
  <div class="soccer-header">
    <mat-icon class="soccer-icon">sports_soccer</mat-icon>
    <h1>Willkommen beim Tippspiel!</h1>
    <p>Logge dich ein, um deine Tipps abzugeben.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Passwort</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="full-width soccer-btn"
      type="submit"
    >
      <mat-icon>login</mat-icon> Einloggen
    </button>
    <div class="register-link">
      Noch kein Account?
      <a routerLink="/register">Jetzt registrieren</a>
    </div>
  </form>
</div>
