<div class="auth-container mat-elevation-z4">
  <div class="soccer-header">
    <mat-icon class="soccer-icon">emoji_events</mat-icon>
    <h1>Registriere dich fürs Tippspiel!</h1>
    <p>Erstelle deinen Account und tippe mit.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onRegister()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Benutzername</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Passwort</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="full-width soccer-btn"
      type="submit"
    >
      <mat-icon>person_add</mat-icon> Registrieren
    </button>
    <div class="login-link">
      Schon einen Account?
      <a routerLink="/login">Jetzt einloggen</a>
    </div>
  </form>
</div>
